<div class="container-fluied footer-border">
    <div class="container p-3">
        <div class="footer">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo">
                        <img src="../assets/images/logonew.svg" alt="image">
                      </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <p class="footer__title">Version</p>
                        <p class="footer__desc">2.2.2</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <p class="footer__title">About</p>
                        <ul>
                            <li>Contact Us</li>
                            <li>Privacy</li>
                            <li>Terms of Use</li>
                        </ul>
                    </div>
                </div>
        
            </div>
        </div>
        <hr>
        <div class="copy__rights"> <mat-icon  class="language_icon">copyright</mat-icon><span> Copy rights</span></div>
       
    </div>
</div>