<div class="container-fluied bgcolor">
    <div class="container">
      <div class="header__nav">
        <div class="logo">
          <img src="../assets/images/logonew.svg" alt="image">
        </div>
        <div class="profile_info">
          <div class="notification">
            <mat-icon matBadge="15" aria-hidden="false" class="notification_icon">notifications</mat-icon>
          </div>
          <div class="language">
            <mat-icon  class="language_icon">language</mat-icon>
          </div>
          <div class="profile">
            <img src="../assets/images/avatar.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>